<div class="album bg-white">
    <div class="container py-5">
          <h1 class="display-5 text-center">Sobre Marvel y DC</h1>
          <h1 class="display-6">Universo Marvel</h1><hr>
          <p>El universo Marvel es el universo de ficción compartido en el que ocurren la mayoría de las historias de los cómics publicados por Marvel Comics. El término suele utilizarse para referirse a la continuidad principal de Marvel; pero a veces se usa también para hablar del Multiverso Marvel, compuesto por todas las distintas continuidades que aparecen dentro de las publicaciones de Marvel Comics.</p>
          <h1 class="display-6">Universo DC</h1><hr>
          <p>El Universo DC (UDC) (originalmente llamado Tierra-1, más tarde por los eventos contados en las Crisis y después de las siguientes secuelas de las mismas historias denominada como Nueva Tierra, Tierra-0 y más recientemente, Tierra-Prime) es el universo de ficción compartido en el que ocurren las historias de los cómics publicados por DC Comics, en el que todos los personajes de la editorial conviven entre sí. Esto ayuda a darle coherencia y sentido de la continuidad a las historias. Los personajes ficticios Superman, Batman, y la Mujer Maravilla son superhéroes famosos de este universo.</p>        

    </div>
</div>
