<div class="album bg-white">
    <div class="text-center container py-5">
      <div class="row py-5">
          <div class="col-xs-6 col-lg-6 col-md-8 mx-auto">
          <h1 class="display-5">Menú Principal</h1>
          <p class="display-6">En los siguientes botones podreís ver un listado con los mejores héroes de Marvel y DC.</p>  
          <button type="button" [routerLink]="['/heroes']" class="btn btn-primary" style="margin:5px">Heroes</button>
          <button type="button" [routerLink]="['/about']" class="btn btn-secondary">About</button>          
        </div>
      </div>
    </div>
  </div>
